@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* POR PADRÃO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid #ffffff1a;
}


body, table, input, button {
    font: 300 16px/140% "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #121214;
    color: #ffff;
}

.container {
    max-width: 690px;
    margin: 0 auto;
    padding: 20px 32px;
}

header {
    padding: 20px 0px ;
}

form {
    border: var(--border);
    border-inline: none;
    padding: 20px 0;
}

fieldset{
    border: none;
    padding: 0;
}

fieldset > div{
    display: flex;
    gap: 12px;
}

.input-wrapper {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 8px 12px;
    border: var(--border);
    border-radius: 10px;

    font: 400 14px/150% "Poppins", sans-serif;
    color: #c4c4cc;
}

fieldset button {
    width: fit-content;
    border: 0;
    background-color: #F48F56;
    border-radius: 10px;
    padding: 7px 20px;

    font: 700 12px/24px "Poppins", sans-serif;
    color: #00292e;
}

fieldset button:hover {
    background-color: #ff711f;
}

input {
    all: unset;
}

table {
    border-collapse: collapse   ;
}

table thead {
    font-size: 14px;
    line-height: 16px;
}

thead th, tbody td {
    padding: 12px 16px;
}

tbody td {
    border-top: var(--border);
    font-size: 13px;
    line-height: 15px;
    color: #c4c4cc;
}

tbody td strong {
    color: white;
    font-size:  14px;
    line-height: 15px;
    font-weight: 600;
}

tbody td small {
    font-size: 12px;
    line-height: 16px;
}

tbody td button {
    all: unset;
    color: #9FF9CC;
}

tbody td button:hover{
    text-decoration: underline;
    cursor: pointer;
}